token                    = ""
cloud_id                 = ""
folder_id                = ""
service_account_id       = ""
node_service_account_id  = ""
zone                     = "ru-central1-b"
public_key_path          = "usr1.pub"
subnet_id                = ""
network_id               = ""
